h1 {
	font-size: 56px;
}
ol {
	background: gold;
	padding: 20px;
	list-style-type: upper-roman;
	font-size: 35px;
	text-shadow: 2px 2px 3px black;
}
ul {
	background: darkgoldenrod;
	padding: 20px;
	list-style-type: square;
	font-size: 35px;
	text-shadow: 2px 2px 3px black;
}
ol li {
	background: lightgoldenrodyellow;
	color: khaki;
	padding: 5px;
	margin-left: 35px;	
}
ul li {
	background: palegoldenrod;
	color: tan;
	margin: 15px;
}